<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.debug.core.launching.webPageLaunch">
<stringAttribute key="base_url" value="http://localhost/FoodTruck/Test/PersistenceFoodTruckTest.php"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<stringAttribute key="file_name" value="/FoodTruck/test/PersistenceFoodTruckTest.php"/>
<booleanAttribute key="firstLineBreakpoint" value="true"/>
<stringAttribute key="name" value="Default PHP Web Server"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FoodTruck/Test/PersistenceFoodTruckTest.php"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.php.debug.core.OpenInBrowser" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/FoodTruck"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="org.eclipse.php.internal.debug.core.launching.PHPWebPageLaunchDelegate"/>
<stringAttribute key="org.eclipse.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.zendDebugger"/>
<stringAttribute key="php_debug_type" value="php_web_page_debug"/>
</launchConfiguration>
